/* CSS Custom Properties Definitions */

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-4xl);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --fontFamily-sans: Montserrat, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fontFamily-serif: "Merriweather", "Georgia", Cambria, "Times New Roman",
    Times, serif;
  --font-body: var(--fontFamily-sans);
  --font-heading: var(--fontFamily-sans);
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 2;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
  --color-primary: #4f8271;
  --color-text: #2e353f;
  --color-text-light: #4f5969;
  --color-heading: #1a202c;
  --color-heading-black: black;
  --color-accent: #d1dce5;
  --color-text-green: #18c3ac;
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-relaxed);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-text);
}

footer {
  padding: var(--spacing-6) var(--spacing-0);
  text-align: center;
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);
}

h1 {
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-6);
  color: var(--color-heading-black);
}

h3 {
  border-bottom: solid 3px orange;
  position: relative;
  display: inline-block;
}

h3:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px var(--color-text-green);
  bottom: -3px;
  width: 30%;
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

p > a:hover {
  color: var(--color-primary);
}

:not(pre) > code[class*="language-"] {
  padding: 4px 8px !important;
  margin: 0 4px;
  color: #fff;
  text-shadow: none;
  background-color: #71b7a0 !important;
}

pre[class*="language-"] {
  border-radius: 12px;
}

/* Prose */

p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: inside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: var(--color-text-light);
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-primary);
  font-size: var(--fontSize-2);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

/* Link */

a {
  color: var(--color-primary);
}

a:hover {
  text-decoration: underline;
}

a:focus {
  text-decoration: none;
}

/* Custom classes */

.global-wrapper {
  margin: var(--spacing-0) 0;
  position: relative;
}

.top-wrapper {
  height: 100vh;
  width: 100%;
  padding: var(--spacing-6);
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0) 53%
    ),
    rgba(78, 191, 160, 0.67);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--spacing-10);
  position: relative;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top-wrapper .author {
  position: absolute;
  bottom: 12px;
  right: 12px;
  color: white;
}

.top h1::after {
  content: "by Alina Wheeler";
  font-weight: normal;
  font-size: var(--fontSize-root);
  margin-left: var(--spacing-2);
}

.top img {
  max-width: 80%;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-wrapper main {
  width: 60%;
  margin-right: 40px;
}

.global-header.index {
  margin: var(--spacing-6) 0;
  position: absolute;
  z-index: 100;
}

.global-header {
  margin: var(--spacing-6) 0;
}

.logo {
  height: 56px;
  margin-left: var(--spacing-6);
}

.main-heading {
  font-size: var(--fontSize-7);
  margin: 0;
}

.post-list-item {
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-2);
}

.post-list-item p {
  margin-bottom: var(--spacing-0);
}

.post-list-item h2 {
  font-size: var(--fontSize-4);
  color: var(--color-primary);
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-0);
}

.post-list-item header {
  margin-bottom: var(--spacing-4);
}

.header-link-home {
  font-weight: var(--fontWeight-bold);
  font-family: var(--font-heading);
  text-decoration: none;
  font-size: var(--fontSize-2);
}

.blog-post header h1 {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-10) var(--spacing-0);
}

.blog-post header p {
  font-size: var(--fontSize-2);
  font-family: var(--font-heading);
}

.blog-post-nav {
  padding: 0 40px;
}

.blog-post-nav hr {
  margin-bottom: var(--spacing-6);
}

.blog-post-nav ul {
  margin-top: var(--spacing-8);
}

.blog-post-nav .nav-link {
  text-decoration: none;
  color: var(--color-text);
  padding: var(--spacing-8) var(--spacing-0);
}

.blog-post-nav .nav-link span {
  position: relative;
}

.blog-post-nav .nav-link span::before {
  content: "";
  background-color: var(--color-text-green);
  position: absolute;
  top: calc(50% - 20px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: -1;
  transition: 0.1s;
}

.blog-post-nav .nav-link:hover span::before {
  transform: scale(1.2);
}

.blog-post-nav .nav-link.prev span::before {
  right: -12px;
}

.blog-post-nav .nav-link.next span::before {
  left: -12px;
}

.gatsby-highlight {
  margin-bottom: var(--spacing-8);
}

h1.title {
  -webkit-text-stroke: 1px var(--color-text-light);
  color: transparent;
  text-shadow: 2px 2px var(--color-text-green);
}

section#task .content {
  margin-right: var(--spacing-4);
}

.aside-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.aside-list > div {
  width: 45%;
  max-height: 70vh;
  margin-bottom: 20px;
}

.aside-list h4 {
  padding: 12px;
  margin: 0;
  background-color: #6398b7;
  color: #fff;
}

aside {
  height: calc(100% - 54px);
  overflow: scroll;
  padding: 20px;
  background-color: #f3fbff;
}

.aside-inner {
  margin: 0;
  list-style: none;
}

.post-label {
  margin: 0;
  display: inline-block;
  background-color: #353333;
  color: #fff;
  padding: 6px 20px 6px 12px;
  margin: 0 0 12px -20px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 2px;
}

.aside-inner li a {
  text-decoration: none;
  font-weight: bold;
  font-size: var(--fontSize-3);
}

.aside-inner li a.test::after {
  content: "â—";
  color: #3a8c3a;
}

.small-title {
  margin-left: 12px;
}

/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  ul,
  ol {
    list-style-position: inside;
  }
  .aside-list > div {
    width: 100%;
  }
}
